<video class="video-background"  autoplay loop  >
  <source src="../../assets/production ID_4096307.mp4" type="video/mp4" autoplay />
</video>
<div class="container text-center " id="containers">
  <div class="jumbotron " >
   <h1 class="display-3 mt-5">Welcome to Pandemic Dashboard
   </h1>
   <div class="detailCard mt-5 text-center">
    <h5>The Dashboard consist of Pandemic Diseases which has affect the world in massive way.</h5>
    <h5>Mainly Disease which occured 100s of years ago and some are happened in this century also.</h5>
    <h5>User will be able to see the diseases like <b> Covid-19, Spanish-flu, Ebola, Plague</b></h5>
    <h5>We are using an Open source API for Covid-19 which is a realtime. So You might face a down.</h5>
    <h5>If this scenario comes up, 'Refresh' </h5>
   </div>
   <p>Scroll Down</p>
  <img src="../../assets/editor-1s-47px.gif" width="60px" height="60px"  alt="">
  </div>
</div>
  
<div class="container mt-5">
  <div class="card " id="cont" style="width: 500px; height: 300px;">
    <div class="cont mb-3" >
      <div class="object" >
        
        <!-- <iframe style="width: 440px; height: 250px;" src="https://www.youtube.com/embed/UG8YbNbdaco" frameborder="0"  autoplay ></iframe> -->
      </div>
  </div>
  </div>

  <div class="card " style="width: 500px; height: 300px;">
    <div class="cont">
      <div class="object" ng-show="graph.visible">
        <canvas id="myChart"></canvas>
      </div>
  </div>
  </div>

  <div class="card mt-3" style="width: 500px; height: 300px;">
    <div class="cont">
      <div class="object" ng-show="graph.visible">
        <canvas id="canvas"></canvas>
      </div>
  </div>
  </div>
 
    <div class="cont mt-5 text-center" style="width: 500px; height: 300px;">
        <h4 class="display-5 text ">
          <b>To Pandemics Dashboard</b>
        </h4>
          <div class="container mt-3 d-flex justify-content-center">
            <button class=" mt-4 btn btn-outline-light " (click)="navigate()">Get started</button>
          </div>
     </div>

  </div>            
 
