<div class="img-bg">
    <div class="Login-box" >
    <h2>Login Here</h2>
    <div class="textbook">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Email Address">


    </div>
    <div class="textbook">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password">
    </div>
   
    <input type="button" class="btn btn-outline-light" value="Login" style="margin-top: 35px;">

    <div class="register text-center mt-2">
        <a >
          <img src="https://img.icons8.com/fluent/35/000000/google-logo.png"/>
         </a>
      </div>
    </div>
    
</div>