<div class="container">


<div id="circularMenu1" class="circular-menu circular-menu-left">

  <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
    <i class="fa fa-bars"></i>
  </a>

  <menu class="items-wrapper">
    <a href="#" class="menu-item fa fa-home" routerLink="" routerLinkActive=Active></a>
    <a href="#" class="menu-item fa fa-comments" routerLink="review-component" routerLinkActive=Active ></a>
    <a href="#" class="menu-item fa fa-user" routerLink="SignUp" routerLinkActive=Active></a>
    <a href="" class="menu-item fa fa-sign-out-alt" (click)="logout()"></a>
    
    
  </menu>
 
</div>
<!-- <div id="circularMenu" class="circular-menu">
  <a class="floating-btn" (click)="refresh()">
    <i class="fa fa-refresh"></i>
  </a>
</div> -->
