button{
    width: 300px;
    height: 150px;
    padding: 10px;
    border-radius: 40px;
}
.nbutton{
    display: flex;
    justify-content: center;
}

.wrapper{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: -50px;
    border : 1px solid #ddd;
    border-radius: 10px;
    display:flex;
    overflow-x: auto; 
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper::-webkit-scrollbar-thumb{
    background: linear-gradient((transparent, #30ff00));
    border-radius: 6px;
}
.wrapper::-webkit-scrollbar-thumb:hover{
    background: linear-gradient((transparent, #30ff00));
    
}
.wrapper .item{
    min-width: 400px;
    line-height: 30px;
    text-align: center;
}
.card{
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    height: 400px;
    background-color: #474747;
    background-image: linear-gradient(70deg, #474747 0%, #565656 30%, #5e5d5d 66%, #686868 100%);
    box-shadow: 1px 1px rgb(37, 37, 37);
    
}
@media screen and (max-height: 450px) {
    .wrapper {padding-top: 15px;}
    .card {font-size: 18px;}
  }
  .circular-menu {
	position: fixed;
	bottom: 1em;
	right: 1em;
  }
  
  .circular-menu .floating-btn {
	display: block;
	width: 3.5em;
	height: 3.5em;
	border-radius: 50%;
	background-color: hsl(0, 0%, 0%);
	box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
	color: hsl(0, 0%, 100%);
	text-align: center;
	line-height: 3.9;
	cursor: pointer;
	outline: 0;
  }