button{
    width: 300px;
    height: 150px;
    padding: 10px;
    border-radius: 40px;
}
.nbutton{
    display: flex;
    justify-content: center;
}

.wrapper{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: -50px;
    border : 1px solid #ddd;
    border-radius: 10px;
    display:flex;
    overflow-x: auto; 
}
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper::-webkit-scrollbar-thumb{
    background: linear-gradient((transparent, #30ff00));
    border-radius: 6px;
}
.wrapper::-webkit-scrollbar-thumb:hover{
    background: linear-gradient((transparent, #30ff00));
    
}
.wrapper .item{
    min-width: 300px;
    line-height: 30px;
    text-align: center;
}
.card{
    border-radius: 10px;
    border: 1px solid transparent;
    margin: 10px;
    height: 350px;
    background-color: #474747;
    background-image: linear-gradient(70deg, #474747 0%, #565656 30%, #5e5d5d 66%, #686868 100%);
    box-shadow: 1px 1px rgb(37, 37, 37);
    
}