<div class="flex-container">
    <div class=" card flex-child" id="card1" >
        <form [formGroup]="this.form" >
            <div class="form-group">
              <label for=""></label>
              <select class="form-control" name="" id="" formControlName="diseaseType">
                <option>Covid 19</option>
                <option>Ebola</option>
                <option>Spanish</option>
              </select>
              <div class="mt-2">
              <input type="text" formControlName="diseaseType">
            </div>
            </div>
            
            <div class="form-group">
              <label for="Review">Review</label>
              <textarea class="form-control" formControlName="review"  name="" id="Review" rows="3"></textarea>
            </div>
            <div>
                <button class="btn btn-primary" (click)="SubmitReview()">Submit</button>
            </div>
        </form>
    </div>

<div class="card flex-child" style="width: 18rem; height: 20rem;">
    <div class="card-body">
      <h5 class="card-title">
          <div class="chip">
              {{form.value.diseaseType}}
          </div>
      </h5>
      <p class="card-text">{{form.value.review}}</p>
     
    </div>
  </div>
</div>
