

<div class="row text-center text-white">

<div class="card-sample ">
  <div class="card " style="width: 18rem; height: 20rem;">
    <div class="card-body">
      <h5 class="card-title">
          <div class="chip">
              {{form.value.diseaseType}}
          </div>
      </h5>
      <p class="card-text">{{form.value.review}}</p>
     
    </div>
  </div>
</div>
<div class="card" id="card-form">
  <h5 class="m-3">Add Sentiments</h5>
  <form [formGroup]="this.form" >
    <div class="form-group">
      <label for="">Select the Disease</label>
      <select class="form-control" name="" id="" formControlName="diseaseType" >
        <option>Covid 19</option>
        <option>Ebola</option>
        <option>Plague</option>
      </select>
      <div class="mt-2">
      <input type="text" formControlName="diseaseType" placeholder="Other Disease">
    </div>
    </div>
    
    <div class="form-group">
      <label for="Review">Sentiments</label>
      <textarea class="form-control" formControlName="review" placeholder="Add Sentiments Here" name="" id="Review" rows="4"></textarea>
    </div>
    <div>
        <button class="btn btn-outline-primary" (click)="SubmitReview()">Post</button>
    </div>
</form> 
</div>

  
</div>













































    <!--  -->



        <!-- -->
 
  



