.card{
  border-radius: 10px;
  margin: 60px;
  background-color: #474747;
  background-image: linear-gradient(70deg, #474747 0%, #565656 30%, #5e5d5d 66%, #686868 100%);
  box-shadow: 1px 1px rgb(19, 19, 19);
}
#card-form{
    padding: 20px;
    width: 600px;
    height: 500px;
}
#card-sample{
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
   
}
input{
    background: transparent;
    width: 400px;
    border: none;
    border-bottom: 1px solid #FFFEFE;
   
}
input[placeholder]{
    color: white;
}
textarea{
    height: 200px;
    background-color: transparent;
}
select{
    background-color: transparent;
}
@media screen and (max-height: 450px) {
    textarea{ min-width: auto;}
    .card {font-size: 18px;}
  }