
<div class="container mt-5">
  <div class="text-center">
    <h2>Spanish-Flu</h2>
  </div>
</div>
<div class="container">
  <div class="wrapper">
    <div class="card bg-dark text-white text-center">
      <img src="../../assets/back.png">
      <div class="card-img-overlay">
        <h5 class="card-title mt-3">Cases Confirmed</h5>
        <p class="card-text">1234453</p>
      </div>
    </div>
    <div class="card bg-dark text-white text-center">
      <img src="../../assets/back.png">
      <div class="card-img-overlay">
        <h5 class="card-title mt-3">Cases Confirmed</h5>
        <p class="card-text">1234453</p>
      </div>
    </div>
  </div>
</div>

