
.container{
    background-image: url("../../assets/image.png");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(36, 36, 36);
  }
 .card{
    color: white;
    background-color:#242B2E;
    position: relative;
    left: 30%;
    top: 20%;
    padding: 20px;
    margin: 10px;
    box-shadow: 2px 2px rgb(36, 36, 36);
 }
