<div class="container">
    <div class="card mt-2" style="width: 500px; height: 300px;">
      <div class="cont">
        <div class="object" ng-show="graph.visible">
          <canvas id="polarchart"></canvas>
        </div>
    </div>
    </div>
  
    <div class="card mt-2" style="width: 500px; height: 300px;">
      <div class="cont">
        <div class="object" ng-show="graph.visible">
          <canvas id="HoriChart"></canvas>
        </div>
    </div>
    </div>
  
    <div class="card mt-2" style="width: 500px; height: 300px;">
      <div class="cont">
        <div class="object" ng-show="graph.visible">
          <canvas id="detailedLineChart"></canvas>
        </div>
    </div>
    </div>
    <div class="card mt-2" style="width: 500px; height: 300px;">
      <div class="cont">
        <div class="object" ng-show="graph.visible">
          <canvas id="detailedBarChart" ></canvas>
        </div>
    </div>
    </div>
  
  </div>
  <div class="alert alert-success btn-outline-success text-center mt-3" role="alert">
    Table Form Data for Plague
  </div>
  <div class="container d-flex justify-content-center text-center mt-2 " style="width: 700px;">
    
      <table class="table table-dark table-striped">  
        <thead>
          <tr>
            <th >Year</th>
            <th >Total Cases</th>
            <th>Total Death </th>
          </tr>
        </thead>
        <tbody *ngFor="let x of totalData">
          <tr>
            <td colspan="1">{{x.Years}}</td>
            <td>{{x.TotalCases | number}}</td>
            <td>{{x.TotalDeaths | number}}</td>
          </tr>
        </tbody>
      </table>
  
  </div> 
  <div id="circularMenu" class="circular-menu">
    <a class="floating-btn" (click)="ngAfterViewInit()">
      <i class="fa fa-refresh"></i>
    </a>
  </div>